table tr td:nth-child(2) {
  text-align: right;
}
table {
  width: 100%;
}
.centered {
  text-align: center;
}

#bar {
  fill: steelblue;
}

#bar:hover {
  fill: brown;
}

.axis--x path {
  display: none;
}
