<div class="container">
  <!--Header begin-->
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h1 class="centered">{{getUsers.name}} {{getUsers.last}}</h1>
      <p class="centered" id="summary">Ich bin ein Informatik Student an der Hochschule Trier fast am Ende meines Studiums. Ich programmiere schon seit fast
        5 Jahre und interesiere mich über die Entwicklung von Spiele, sowie Web-Entwicklung und 3D basierte Web-Anwendungen.
      </p>
    </div>
    <div class="panel-body">

    </div>
    <!--Header end-->


    <!--uiCtrl begin-->
    <div ng-controller="uiCtrl" class="centered" id="backgroundColor">
      <!--Button begin-->
      <div class="btn-group">
        <label class="btn btn-success" ng-model="radioModel" uib-btn-radio="'Left'">Information</label>
        <label class="btn btn-success" ng-model="radioModel" uib-btn-radio="'Middle'" ng-click="testRequest()">Sprachen</label>
        <label class="btn btn-success" ng-model="radioModel" uib-btn-radio="'Right'">Projekte</label>
      </div>
      <!--Button end-->
      <div ng-if='radioModel === "Left";'>
        <!--Accordion begin-->
        <h1>Information</h1>
        <p class="infos">Hier finden Sie übliche Informationen über meine Person</p>
        <uib-accordion>
          <div uib-accordion-group class="panel-default" ng-repeat="group in groups" is-open="group.open">
            <uib-accordion-heading ng-click="group.open = !group.open">
              <div class="centered">
                {{group.title}}
                <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': group.open, 'glyphicon-chevron-right': !group.open}"></i>
              </div>
            </uib-accordion-heading>
            <table>
              <tr ng-repeat="cont in group.content">
                <td id="leftTableRow">{{cont.title}}</td>
                <td>{{cont.content}}</td>
              </tr>
            </table>
          </div>
        </uib-accordion>
      </div>
      <!--Accordion end-->
      <!--D3 begin-->
      <div ng-if='radioModel === "Middle";'>
        <h1>Programmiersprachen</h1>
        <p class="infos">Diese Graph zeigt die aktuelle Niveau in die verschiedene Programmieresprachen. Es würde mit Hilfe von D3.js hergestellt</p>
        <d3-directive></d3-directive>

      </div>
      <!--D3 end-->
      <!--Unity begin-->
      <div ng-if='radioModel === "Right";'>
        <h1>Projekte</h1>
        <p class="paragraph infos">Hier sind alle die Projekte, die ich in die vergangene Jahre an der Hochschule, sowie meine eigene Projekte, gemacht
          habe. Es kann ein bisschen dauern, UnityLoader muss zuerst geladet werden, danach sollte die Web-Seite problemlos
          funktionieren. Au­ßer­dem sind alle die github links dabei mit entsprechender Dokumentation.
        </p>
        <h3>
          1. Occlusion Culling in Unity3D
        </h3>
        <p class="p-space"> Die Idee dahinten ist für Optimierungsgründen. Occlusion culling ist ein sehr bekannte und benutzte Technik im Spielentwicklung,
          um effizient viele Objekte erzeugen zu können ohne die gesamte Performance zu beschädigen.
        </p>
        <p class="p-space">
          Man rendert nur solche Objekte, die gerade gebraucht werden, d.h, nur solche, die vor die Kamera stehen. Damit spar man Speicher,
          sodass unser Spiel besser laufen kann.
        </p>
        <p class="p-space">
          Probieren Sie es selber, hier gibt ein kleiner Demo: A S W D sind die Kontroller. Oder besuchen Sie meine github:
          <a href="https://github.com/codeMasta64/UnityOcclusionCulling">Unity3D Projekt</a>
        </p>

        <unity-directive class="unity-css"></unity-directive>

        <h3>
          2. Rubiks Cube für die PSVita
        </h3>
        <p class="pp"> Hier ist ein klein Spiel für die PSVita. Um es ausführen zu können, braucht man die Sony API im Rechner installiert
          zu haben, Leider ist nicht einfach, die Lizenz dafür zu bekommen, trotzdem hier kann man sich die Projekt im github
          anschauen:
          <a href="https://github.com/codeMasta64/RubiksCubePSVita">Rubiks Cube</a>
        </p>

        <h3>
          3. Web-Anwendungen für Bezirk Trier und Umgebung
        </h3>
        <p class="pp"> Eine kleine modulare Web-Anwendung mit RESTful API für die Backend. Mit Hilfe von Leaflet (Open Source Karteanzeige)
          kann man durch die Region navigieren und sich die Höhenprofil anschauen
          <a href="https://github.com/codeMasta64/MapVisualizationTrier">Trier Karte</a>
        </p>
      </div>
      <!--D3 end-->
      <!--uiCtrl-->


    </div>
  </div>
</div>