<div class="container" style="height:100%;" ng-controller="uiCtrl">
  <!--Header begin-->
  <div class="panel panel-primary" style="margin-top:2.5%; min-height:93%; position:relative">
    <div class="btn-group" style="position:absolute;right:-5px;">
      <button class="btn btn-default" ng-click="changeLanguage('en')" style="border-width:2px;height: 23px; width:38px; background: url(../Images/gb.png);background-color:{{selectedLanguage==='en'?'#AAA':'#FFF';}}"></button>
      <button class="btn btn-default" ng-click="changeLanguage('de')" style="border-width:2px;height: 23px; width:38px; background: url(../Images/de.png);background-color:{{selectedLanguage==='de'?'#AAA':'#FFF';}}"></button>
      <button class="btn btn-default" ng-click="changeLanguage('es')" style="border-width:2px;height: 23px; width:38px; background: url(../Images/es.png);background-color:{{selectedLanguage==='es'?'#AAA':'#FFF';}}"></button>
    </div>
    <div class="panel-heading">
      <h1 class="centered">{{getUsers.name}} {{getUsers.last}}</h1>
      <p class="centered" id="summary">{{lang.info}}</p>
    </div>
    <div class="panel-body">

    </div>
    <!--Header end-->


    <!--uiCtrl begin-->
    <div class="centered" id="backgroundColor">
      <!--Button begin-->
      <div style="background-color:#444;height:55px;width:100%;margin-top:-30px;">
        <button class="custom-button" ng-model="radioModel" uib-btn-radio="'Left'" ng-click="setActiveModule(0)">
          <span>{{lang.infoTitle}}</span>
          <div ng-show="activeModule===0" class="button-bottom-line"></div>
        </button>

        <button class="custom-button" ng-model="radioModel" uib-btn-radio="'Middle'" ng-click="setActiveModule(1);">
          <span>{{lang.langTitle}}</span>
          <div ng-show="activeModule===1" class="button-bottom-line"></div>
        </button>

        <button class="custom-button" ng-model="radioModel" uib-btn-radio="'Right'" ng-click="setActiveModule(2)">
          <span>{{lang.projectsTitle}}</span>
          <div ng-show="activeModule===2" class="button-bottom-line"></div>
        </button>
      </div>
      <!-- <div class="btn-group">
        <label class="btn btn-success" ng-model="radioModel" uib-btn-radio="'Left'">Information</label>
        <label class="btn btn-success" ng-model="radioModel" uib-btn-radio="'Middle'" ng-click="testRequest()">Sprachen</label>
        <label class="btn btn-success" ng-model="radioModel" uib-btn-radio="'Right'">Projekte</label>
      </div> -->
      <!--Button end-->
      <div ng-if='activeModule === 0;'>
        <!--Accordion begin-->
        <h1>{{lang.infoTitle}}</h1>
        <p class="infos" >{{lang.infoDescription}}</p>
        <uib-accordion>
          <div uib-accordion-group class="panel-default" ng-repeat="group in groups" is-open="group.open">
            <uib-accordion-heading ng-click="group.open = !group.open">
              <div class="centered">
                {{lang[group.title]}}
                <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': group.open, 'glyphicon-chevron-right': !group.open}"></i>
              </div>
            </uib-accordion-heading>
            <table>
              <tr ng-repeat="cont in group.content">
                <td>{{lang[cont.title]}}</td>
                <td>{{lang[cont.content]}}</td>
              </tr>
            </table>
          </div>
        </uib-accordion>
      </div>
      <!--Accordion end-->
      <!--D3 begin-->
      <div ng-if='activeModule === 1;'>
        <h1>{{lang.langSubtitle}}</h1>
        <p class="infos">{{lang.graphParagraph}}</p>
        <d3-directive></d3-directive>

      </div>
      <!--D3 end-->
      <!--Projekte begin-->
      <div ng-if='activeModule === 2;'>
        <h1>{{lang.projectsTitle}}</h1>
        <p class="infos" >{{lang.projectSubtitle}}
        </p>
        <!--Occlusion Culling begin-->
        <h3>
          {{lang.firstProjektTitle}}
        </h3>
        <p class="p-space"> {{lang.firstProjektA}}
        </p>
        <p class="p-space">
         {{lang.firstProjektB}}
        </p>
        <p class="p-space">
         {{lang.firstProjektC}}
          <a href="https://github.com/codeMasta64/UnityOcclusionCulling">{{lang.linkOcclusion}}</a>
        </p>

        <div>
          <button ng-model="radioModel" ng-click="setActiveModule(3);" class="demo" >Demo</button>
          <div ng-show="activeModule===3"></div>
        </div>
        <div style="padding-bottom: 50px; border-bottom: solid #B8BFBF; margin:50px;">
          <img src="../Images/OcclusionCulling.PNG" alt="Preview Occlusion" style="width:60%; height: 60%;"></img> 
        </div>
        <!--Occlusion Culling end-->
        <!--Rubiks Cube begin-->
        <h3>
          {{lang.secondProjektTitle}}
        </h3>
        <p class="p-space" style="padding-bottom:25px;"> {{lang.secondProjektA}}
          <a href="https://github.com/codeMasta64/RubiksCubePSVita">{{lang.linkCube}}</a>
        </p>
        <div style="padding-bottom: 50px; border-bottom: solid #B8BFBF; margin:50px;">
          <img src="../Images/rubiks.png" alt="Preview Rubiks" style="width:60%; height:60%;"></img>
        </div>
        <!--Rubiks Cube end-->
        <!--GPSTRACKER begin-->
        <h3>
         {{lang.thirdProjektTitle}}
        </h3>
        <p class="p-space" style="padding-bottom:25px;">{{lang.thirdProjektA}} </p>
        <p class="p-space">{{lang.thirdProjektB}}
          <a href="https://github.com/codeMasta64/MapVisualizationTrier">{{lang.linkMap}}</a>
        </p>
          <div style="padding-bottom: 50px; border-bottom: solid #B8BFBF; margin:50px;">
          <img src="../Images/gpstracktrier.png" alt="Preview Maps" style="width:60%; height:60%;"></img>
        </div>
        <!--GPSTRACKER end-->
        <!--Google Chrome begin-->
        <h3>
         {{lang.forthProjektTitle}}
        </h3>
        <p class="p-space" style="padding-bottom:25px;"> {{lang.forthProjektA}}</p>
        <p class="p-space">
          {{lang.forthProjektB}}
          <a href="https://github.com/codeMasta64/GoogleChromeExtension">{{lang.linkExtension}}</a>
        </p>
        
        <div style="padding-bottom: 50px; border-bottom: solid #B8BFBF; margin:50px;">
          <img src="../Images/sandclock.png" alt="Preview Extension" style="width:40%; height:40%;"></img>
        </div>
        <!--Google Chrome end-->
        <h3>
          {{lang.volvoTitle}}
        </h3>
        <p class="p-space" style="padding-bottom: 50px; border-bottom: solid #B8BFBF; margin:50px;"> {{lang.volvoA}}</p>
        <!--Angular App begin-->
        <h3>
          {{lang.fifthProjektTitle}}
        </h3>
        <p class="p-space"> {{lang.fifthProjektA}}</p>
        <p class="p-space" style="padding-bottom:25px;">
          {{lang.fifthProjektB}}
          <a href="https://github.com/codeMasta64/AngularApp">Angular.js</a>
        </p>
        <!--Angular App end-->
      </div>
      <!--Projekte end-->
      <!--Unity begin-->
      <div ng-if='activeModule===3;'>
        <div  style="margin-top:7%; margin-bottom: 5%;">
          <h1 class="centerd">Occlusion Culling Demo</h1>
          <p class="centered infos">{{lang.unityDemo}}</p>
          <p class"p-space">{{lang.unityDemoInfo}}</p>
         <unity-directive></unity-directive>
        </div>
      </div>
      <!--uiCtrl-->
    </div>
  </div>
</div>